<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PFRPG_Entities" connectionString="metadata=res://*/PFRPG_EDM.csdl|res://*/PFRPG_EDM.ssdl|res://*/PFRPG_EDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-208N885;Initial Catalog=PFRPG;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="PFRPG_Equipment" connectionString="metadata=res://*/Equipment.csdl|res://*/Equipment.ssdl|res://*/Equipment.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-208N885;Initial Catalog=PFRPG;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
